yvenv/*
unsloth_compiled_cache/*
__pycache__/*
.gitignore
yoloe-11l-seg.pt
yoloe-11s-seg.pt
mobileclip_blt.ts
debug_input.jpg
output_image.jpg
output.jpg
.gitignore
yoloe_output.jpg
train_example/*
finetuned_weights/best_4_class_20260107.pt
finetuned_weights/best_20251219.pt
